*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.attribution{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 30px;
}
@media (max-width:999px){
    .section-resposive{
        display: flex;
        flex-direction: column;
    }
    .div-responsive{
       
       display: flex;
       flex-direction: column;
       gap: 30px;
       
    }
    .counter-responsive{
        display: flex;
        justify-content:space-between;
        width:100vh;
    }
.button{
    display: flex;
    justify-content:space-between;
}
.addButton{
    height: 50px;
}
   

.remove-thumbnail{
    display: none;
}


  }

 
  